@using System.Reflection
<Bar Padding="Padding.Is3" Background="Background.Dark">
    <Span TextAlignment="TextAlignment.Center" Width="Width.Is100" TextColor="TextColor.Secondary"
        TextSize="TextSize.ExtraSmall">Proto Plastics Canada Ltd.</Span>
</Bar>