.slide-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    /* height: 50em; */
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.4);
}

.slide-background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.leaders-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
}

.leaders-background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}