<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(ProtoPlastics.Layouts.MainLayout)" />
        </Found>
        <NotFound>
            <h1>404 Not Found</h1>
            <HeadContent>
                <meta name="robots" content="noindex" />
            </HeadContent>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <MessageProvider />
    <PageProgressProvider />
</Blazorise.ThemeProvider>

@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px"
            },
            ColorOptions = new()
            {
                Primary = "#0C5A2B",
                Secondary = "#CBBC88",
                Success = "#23C02E",
                Info = "#0D6E9B",
                Warning = "#FF6201",
                Danger = "#CC2936",
                Light = "#DEECFF",
                Dark = "#161616",
            },
            BackgroundOptions = new()
            {
                Primary = "#0C5A2B",
                Secondary = "#CBBC88",
                Success = "#23C02E",
                Info = "#0D6E9B",
                Warning = "#FF6201",
                Danger = "#CC2936",
                Light = "#DEECFF",
                Dark = "#161616",
            },
            TextColorOptions = new()
            {
                Primary = "#0C5A2B",
                Secondary = "#CBBC88",
                Success = "#23C02E",
                Info = "#0D6E9B",
                Warning = "#FF6201",
                Danger = "#CC2936",
                Light = "#DEECFF",
                Dark = "#161616",
            },
            InputOptions = new()
            {
                CheckColor = "#0C5A2B",
            }
        };
}