@page "/"
@inject IVersionProvider VersionProvider
@inject NavigationManager navManager

<HomeIntro />

<br>
<Section Header="Our Specialties">
    <br>
    <ServiceContainer>
        <ServiceItem CustomIcon="icons/molding-machine.png">Plastic injection molding</ServiceItem>
        <ServiceItem CustomIcon="icons/clock.png">Short-run production</ServiceItem>
        <ServiceItem CustomIcon="icons/mould.png">Tool and mold testing</ServiceItem>
    </ServiceContainer>
    <ServiceContainer>
        <ServiceItem CustomIcon="icons/injection.png">Injection tryout testing</ServiceItem>
        <ServiceItem CustomIcon="icons/crane.png">Cranes with lift capacity of up to 40 tons</ServiceItem>
        <ServiceItem CustomIcon="icons/steel.png">Steel & aluminum options</ServiceItem>
    </ServiceContainer>
</Section>

<Div Padding="Padding.Is4.FromTop" class="card-class">
    <Section Header="Leaders, not Followers" HeaderColor="TextColor.White" RightImage="proto-logo-white.png">
        <Lead TextSize="TextSize.Large" TextColor="TextColor.White" Padding="Padding.Is4">For over half a century,
            Proto-Plastics has been a
            beacon of innovation and leadership in the tool industry. It all began with a simple yet powerful principle
            that is encapsulated in our slogan - LEADERS NOT FOLLOWERS. This mantra drives us to continuously maintain
            our reliability and set industry standards. With a legacy built on integrity, quality, and
            forward-thinking, we remain steadfast in our commitment to shaping the future of tool manufacturing. Join us
            as we continue to lead, inspure, and innovate for the future.</Lead>
    </Section>
</Div>


<Div Padding="Padding.Is4.OnTablet">
    <Section Header="Modern Technologies" LeftImage="730 Ton Haitian 45.68 oz.png">
        <Lead>
            We prioritize staying at the forefront of technology. Our modern machines ensure precision
            and efficiency, guaranteeing top-quality products for our customers. By continually updating our equipment,
            we uphold our commitment to delivering excellence in every project we undertake. Our shop has machines with:
        </Lead>
        <UnorderedList TextSize="TextSize.Large">
            <UnorderedListItem>
                Shot Sizes up to 30 inches
            </UnorderedListItem>
            <UnorderedListItem>
                Injection Pressures up to 2900 psi
            </UnorderedListItem>
            <UnorderedListItem>
                General purpose and barrier screws
            </UnorderedListItem>
            <UnorderedListItem>
                Hydraulic mold ejects
            </UnorderedListItem>
        </UnorderedList>
        <Button Color="Color.Primary" To="/machines" Type="ButtonType.Link">SEE MORE</Button>
    </Section>
</Div>

<Divider />

<ContactForm />


<style>
    .card-class {
        background-image: linear-gradient(rgba(22, 22, 22, 1), rgba(0, 0, 0, 0.5)), url('building-outside.png');
        background-position: center;
        background-size: cover;
    }
</style>
