@page "/"
@inject IVersionProvider VersionProvider
@inject NavigationManager navManager

<Div Padding="Padding.Is4.FromTop" class="card-class">

    <WelcomeCard CardWidth="Width.Is75" />

    <Grid RowColumns="RowColumns.Are2.OnTablet.Are1.OnMobile">
        <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12.OnMobile" TextAlignment="TextAlignment.Center"
            Flex="Flex.JustifyContent.Center">
            <Div Margin="Margin.IsAuto">
                <Lead TextColor="TextColor.White" TextSize="TextSize.Heading2">13 Injection Molding Machines</Lead>
                <Button Clicked='() => navManager.NavigateTo("/machines", true)' TextColor="TextColor.Secondary">MACHINE
                    SPECS
                    <Icon Name="IconName.ArrowRight" />
                </Button>
            </Div>
        </Column>
        <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12.OnMobile">
            <Image Source="empty-image.png" Padding="Padding.Is4" Fluid />
        </Column>
    </Grid>
</Div>

<Div Padding="Padding.Is4">
    <Section Header="Innovating Excellence" LeftImage="proto-logo-black.svg">
        <Lead>
            For over 50 years, Proto Plastics has been a trusted leader in the plastic injection molding industry. Our
            journey began with a commitment to quality and innovation, and over the decades, we have consistently
            delivered exceptional solutions to a diverse range of industries. With a wealth of experience, we pride
            ourselves on our ability to handle complex projects and deliver
            precision-crafted components that meet the highest standards. Our longevity in the industry is a testament
            to our unwavering dedication to customer satisfaction, technological advancement, and continuous
            improvement.
        </Lead>
    </Section>

    <Section Header="">
        <ServiceContainer>
            <ServiceItem Icon="IconName.ArrowAltCircleDown">Plastic injection molding</ServiceItem>
            <ServiceItem Icon="IconName.Clock">Short-run production</ServiceItem>
            <ServiceItem Icon="IconName.Gavel">Tool and mold testing</ServiceItem>
        </ServiceContainer>
        <ServiceContainer>
            <ServiceItem Icon="IconName.Indent">Injection tryout testing</ServiceItem>
            <ServiceItem Icon="IconName.Settings">Cranes with lift capacity of up to 40 tons</ServiceItem>
            <ServiceItem Icon="IconName.GripVertical">Steel & aluminum options</ServiceItem>
        </ServiceContainer>
    </Section>
</Div>

<style>
    .card-class {
        background-image: linear-gradient(rgba(22, 22, 22, 1), rgba(0, 0, 0, 0.6)), url('building-outside.png');
        background-position: center;
    }
</style>
