@page "/"
@inject IVersionProvider VersionProvider
@inject NavigationManager navManager

<HomeIntro />

<Section Header="Our Specialties">
    <ServiceContainer>
        <ServiceItem CustomIcon="icons/molding-machine.png">Plastic injection molding</ServiceItem>
        <ServiceItem CustomIcon="icons/clock.png">Short-run production</ServiceItem>
        <ServiceItem CustomIcon="icons/mould.png">Tool and mold testing</ServiceItem>
    </ServiceContainer>
    <ServiceContainer>
        <ServiceItem CustomIcon="icons/injection.png">Injection tryout testing</ServiceItem>
        <ServiceItem CustomIcon="icons/crane.png">Cranes with lift capacity of up to 40 tons</ServiceItem>
        <ServiceItem CustomIcon="icons/steel.png">Steel & aluminum options</ServiceItem>
    </ServiceContainer>
</Section>

<Div Padding="Padding.Is4.FromTop" class="card-class">
    <WelcomeCard CardWidth="Width.Is75" />
</Div>

<Div Padding="Padding.Is4">
    <Section Header="Innovating Excellence" LeftImage="proto-logo-black.svg">
        <Lead>
            For over 50 years, Proto Plastics has been a trusted leader in the plastic injection molding industry. Our
            journey began with a commitment to quality and innovation, and over the decades, we have consistently
            delivered exceptional solutions to a diverse range of industries. With a wealth of experience, we pride
            ourselves on our ability to handle complex projects and deliver
            precision-crafted components that meet the highest standards. Our longevity in the industry is a testament
            to our unwavering dedication to customer satisfaction, technological advancement, and continuous
            improvement.
        </Lead>
    </Section>
</Div>

<ContactForm />


<style>
    .card-class {
        background-image: linear-gradient(rgba(22, 22, 22, 1), rgba(0, 0, 0, 0.6)), url('building-outside.png');
        background-position: center;
    }
</style>
