@page "/"
@inject IVersionProvider VersionProvider
@inject NavigationManager navManager

<Div Padding="Padding.Is4.FromTop" class="card-class">

    <Row>
        <WelcomeCard CardWidth="Width.Is75" />
    </Row>

    <Row RowColumns="RowColumns.Are2">
        <Column ColumnSize="ColumnSize.Is6" Position="Position.Relative">
            <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
                <Lead TextColor="TextColor.White" TextSize="TextSize.Heading2">13 Injection Molding Machines</Lead>
                <Button Clicked='() => navManager.NavigateTo("/machines", true)' TextColor="TextColor.Secondary">MACHINE
                    SPECS
                    <Icon Name="IconName.ArrowRight" />
                </Button>
            </Div>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Image Source=".png" Padding="Padding.Is4" Fluid />
        </Column>
    </Row>
</Div>

<Div Padding="Padding.Is4">
    <Section Header="Innovating Excellence" LeftImage="proto-logo-black.svg">
        <Lead>
            For over 30 years, Proto Plastics has been a trusted leader in the plastic injection molding industry. Our
            journey began with a commitment to quality and innovation, and over the decades, we have consistently
            delivered exceptional solutions to a diverse range of industries. With a wealth of experience, we pride
            ourselves on our ability to handle complex projects and deliver
            precision-crafted components that meet the highest standards. Our longevity in the industry is a testament
            to our unwavering dedication to customer satisfaction, technological advancement, and continuous
            improvement.
        </Lead>
    </Section>

    <Section Header="">
        <Row RowColumns="RowColumns.Are3" Padding="Padding.Is4.OnY">
            <Column ColumnSize="ColumnSize.Is4">
                <Icon Name="IconName.Star" IconSize="IconSize.x4" />
                <Lead Padding="Padding.Is4.FromTop">Mold testing, service operations, limited batch
                    production, and long-term manufacturing runs.</Lead>
            </Column>
            <Column ColumnSize="ColumnSize.Is4">
                <Icon Name="IconName.Settings" IconSize="IconSize.x4" />
                <Lead Padding="Padding.Is4.FromTop">Crane with maximum lift capacity of x tons</Lead>
            </Column>
            <Column ColumnSize="ColumnSize.Is4">
                <Icon Name="IconName.HandsHelping" IconSize="IconSize.x4" />
                <Lead Padding="Padding.Is4.FromTop">Blah blah blah this is the last thing we can put</Lead>
            </Column>
        </Row>
    </Section>
</Div>

<style>
    .card-class {
        background-image: linear-gradient(rgba(22, 22, 22, 1), rgba(0, 0, 0, 0.6)), url('building-outside.png');
        background-position: center;
    }
</style>