@namespace ProtoPlastics.Components
@inject NavigationManager navManager

<Card Width="@CardWidth" Margin="@CardMargin" Background="Background.Transparent">
    <CardBody TextColor="TextColor.White">
        <DisplayHeading Padding="Padding.Is4.FromTop.Is4.FromBottom">Some kind of Quote</DisplayHeading>
        <Lead Padding="Padding.Is4.FromBottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            viverra
            mauris porttitor enim
            sodales luctus. Aliquam arcu ligula, eleifend eget tincidunt sed, rutrum in lacus.</Lead>
        <Button Clicked='() => navManager.NavigateTo("/machines", true)' TextColor="TextColor.Secondary">MACHINES
            <Icon Name="IconName.ArrowRight" />
        </Button>
    </CardBody>
</Card>

@code {
    [Parameter] public IFluentSizingMinMaxViewportOnBreakpoint CardWidth { get; set; } = Width.Is100;
    [Parameter] public IFluentSpacingOnBreakpointWithSideAndSize CardMargin { get; set; } = Margin.IsAuto;
}