@namespace ProtoPlastics.Components

<CarouselSlide Name="@Name">
    <Div Class="slide-container">
        @ChildContent
    </Div>
</CarouselSlide>


@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Name { get; set; } = "1";

}