@namespace ProtoPlastics.Components
@inject NavigationManager navManager

<img src="shop.png" class="slide-background" />

<Grid RowColumns="RowColumns.Are3.OnTablet.Are1.OnMobile">
    <Column ColumnSize="ColumnSize.Is1"></Column>
    <Column ColumnSize="ColumnSize.Is6.OnTablet.Is10.OnMobile" Style="background-color: rgba(0,0,0,0.4)"
        Padding="Padding.Is4">
        <DisplayHeading Size="DisplayHeadingSize.Is1" TextColor="TextColor.White" TextWeight="TextWeight.Bold">
            PROTO-PLASTICS CANADA</DisplayHeading>

        <Lead TextSize="TextSize.Heading1" TextColor="TextColor.White">LEADING THE PLASTIC INJECTION MOLDING
            INDUSTRY SINCE 1967
        </Lead>

        <Paragraph TextSize="TextSize.Large" TextColor="TextColor.White" Padding="Padding.Is4.OnY">We specialize in
            delivering high-quality, custom plastic injection molding solutions tailored to meet the unique needs of
            your industry.
        </Paragraph>

        <Button TextColor="TextColor.White" Background="Background.Primary"
            Clicked='() => navManager.NavigateTo("/#leaders-section")'>LEARN MORE</Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is5"></Column>
</Grid>